certifi
charset-normalizer
contourpy
cycler
fonttools
idna
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
python-decouple
python-dotenv
pytz
requests
six
tabulate
tzdata
urllib3
yfinance
beautifulsoup4
