beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.7
coverage==7.6.12
frozendict==2.4.6
html5lib==1.1
idna==3.10
iniconfig==2.0.0
joblib==1.4.2
lxml==5.3.1
multitasking==0.0.11
nltk==3.9.1
numpy==2.2.2
packaging==24.2
pandas==2.2.3
peewee==3.17.9
platformdirs==4.3.6
pluggy==1.5.0
pygooglenews==0.1.2
pytest==8.3.4
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
regex==2024.11.6
requests==2.32.3
selenium==4.18.1
six==1.17.0
soupsieve==2.6
tabulate==0.9.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vaderSentiment==3.3.2
webencodings==0.5.1
yfinance==0.2.52
